{{- $keyName := "github_personal_key" -}}
{{- if hasKey . "ssh_github_key_name" -}}
{{- $keyName = .ssh_github_key_name -}}
{{- end -}}
# GitHub Personal Account
Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/{{ $keyName }}
  IdentitiesOnly yes
